<!-- Orientation -->
<section style="box-sizing: border-box; margin-bottom: 2em;">
    <h3 style="margin-bottom: 0.5em">Orientation</h3>   
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="orientation" id="orientation" onchange="updateTotals()" required>
            <option name="Right" value="Left:0" selected>Right-handed</option>
            <option name="Left" value="Right:0">Left-handed</option>
        </select>
    </div>
</section>

<!-- Pickups -->
<section style="box-sizing: border-box; margin-bottom: 2em;">
	<h3 style="margin-bottom: 0.5em">Pickups</h3>    
    <strong>Neck</strong>
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="pickup1" id="pickup1" onchange="updateTotals()" required>
            <option name="none" value="none:0">None - Free</option>
            <option name="P90" value="P90:90" selected>P90 - $90</option>
            <option name="StratSingleCoil" value="StratSingleCoil:90">Single Coil (Strat) - $90</option>
            <option name="RailSingleCoil" value="RailSingleCoil:90">Single Coil (Rail) - $90</option>
            <option name="TelecasterNeck" value="TelecasterNeck:90">Telecaster (Neck) - $90</option>
            <option name="TelecasterBridge" value="TelecasterBridge:90">Telecaster (Bridge) - $90</option>
            <option name="Jazzmaster" value="Jazzmaster:120">Jazzmaster - $120</option>
            <option name="Jaguar" value="Jaguar:120">Jaguar - $120</option>
            <option name="Humbucker" value="Humbucker:155">Humbucker - $155</option>
            <option name="MiniHumbucker" value="MiniHumbucker:190">Mini Humbucker - $190</option>
            <option name="FirebirdHumbucker" value="FirebirdHumbucker:190">Firebird Humbucker - $190</option>
            <option name="RailHumbucker" value="RailHumbucker:190">Rail Humbucker - $190</option>
            <option name="RailHumbuckerSingleCoil" value="RailHumbuckerSingleCoil:155">Rail Humbucker (singe coil) - $155</option>
            <option name="WideRangeHumbucker" value="WideRangeHumbucker:170">Wide Range Humbucker - $170</option>
            <option name="CharlieChristian" value="CharlieChristian:250">Charlie Christian - $250</option>
            <option name="HumbuckerP90" value="HumbuckerP90:155">Humbucker-sized P90 - $155</option>
            <option name="P90Humbucker" value="P90Humbucker:155">P90-sized Humbucker - $155</option>
            <option name="LipstickTube" value="LipstickTube:155">LipstickTube - $155</option>
        </select>
    </div>
    <strong>Middle</strong>
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="pickup2" id="pickup2" onchange="updateTotals()" required>
            <option name="none" value="none:0" selected>None - Free</option>
            <option name="P90" value="P90:90">P90 - $90</option>
            <option name="StratSingleCoil" value="StratSingleCoil:90">Single Coil (Strat) - $90</option>
            <option name="RailSingleCoil" value="RailSingleCoil:90">Single Coil (Rail) - $90</option>
            <option name="TelecasterNeck" value="TelecasterNeck:90">Telecaster (Neck) - $90</option>
            <option name="TelecasterBridge" value="TelecasterBridge:90">Telecaster (Bridge) - $90</option>
            <option name="Jazzmaster" value="Jazzmaster:120">Jazzmaster - $120</option>
            <option name="Jaguar" value="Jaguar:120">Jaguar - $120</option>
            <option name="Humbucker" value="Humbucker:155">Humbucker - $155</option>
            <option name="MiniHumbucker" value="MiniHumbucker:190">Mini Humbucker - $190</option>
            <option name="FirebirdHumbucker" value="FirebirdHumbucker:190">Firebird Humbucker - $190</option>
            <option name="RailHumbucker" value="RailHumbucker:190">Rail Humbucker - $190</option>
            <option name="RailHumbuckerSingleCoil" value="RailHumbuckerSingleCoil:155">Rail Humbucker (singe coil) - $155</option>
            <option name="WideRangeHumbucker" value="WideRangeHumbucker:170">Wide Range Humbucker - $170</option>
            <option name="CharlieChristian" value="CharlieChristian:250">Charlie Christian - $250</option>
            <option name="HumbuckerP90" value="HumbuckerP90:155">Humbucker-sized P90 - $155</option>
            <option name="P90Humbucker" value="P90Humbucker:155">P90-sized Humbucker - $155</option>
            <option name="LipstickTube" value="LipstickTube:155">LipstickTube - $155</option>
        </select>
    </div>
    <strong>Bridge</strong>
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="pickup3" id="pickup3" onchange="updateTotals()" required>
            <option name="none" value="none:0">None - Free</option>
            <option name="P90" value="P90:90" selected>P90 - $90</option>
            <option name="StratSingleCoil" value="StratSingleCoil:90">Single Coil (Strat) - $90</option>
            <option name="RailSingleCoil" value="RailSingleCoil:90">Single Coil (Rail) - $90</option>
            <option name="TelecasterNeck" value="TelecasterNeck:90">Telecaster (Neck) - $90</option>
            <option name="TelecasterBridge" value="TelecasterBridge:90">Telecaster (Bridge) - $90</option>
            <option name="Jazzmaster" value="Jazzmaster:120">Jazzmaster - $120</option>
            <option name="Jaguar" value="Jaguar:120">Jaguar - $120</option>
            <option name="Humbucker" value="Humbucker:155">Humbucker - $155</option>
            <option name="MiniHumbucker" value="MiniHumbucker:190">Mini Humbucker - $190</option>
            <option name="FirebirdHumbucker" value="FirebirdHumbucker:190">Firebird Humbucker - $190</option>
            <option name="RailHumbucker" value="RailHumbucker:190">Rail Humbucker - $190</option>
            <option name="RailHumbuckerSingleCoil" value="RailHumbuckerSingleCoil:155">Rail Humbucker (singe coil) - $155</option>
            <option name="WideRangeHumbucker" value="WideRangeHumbucker:170">Wide Range Humbucker - $170</option>
            <option name="CharlieChristian" value="CharlieChristian:250">Charlie Christian - $250</option>
            <option name="HumbuckerP90" value="HumbuckerP90:155">Humbucker-sized P90 - $155</option>
            <option name="P90Humbucker" value="P90Humbucker:155">P90-sized Humbucker - $155</option>
            <option name="LipstickTube" value="LipstickTube:155">LipstickTube - $155</option>
        </select>
    </div>
</section>

<!-- Electronics -->
<section style="box-sizing: border-box; margin-bottom: 2em;">
    <h3 style="margin-bottom: 0.5em">Electronics</h3>   
    <h4>Standard electronics</h4>
    <ul>
        <li>Single pickup guitars Dollys come as standard with a universal volume and tone control</li>
        <li>Dual pickup guitars Dollys come with two slider on/off switches, one for each pickup, and a universal volume and tone control.</li>
        <li>Triple pickup loaded guitars Dollys come with three slider on/off switches, one for each pickup, and a universal volume and tone control.</li>
    </ul>
    <h4>Custom electronics</h4>
    <p>Custom wiring options are offered for an upcharge, if you want coil splitting, tone controls for each pickup etc, we are happy to cater your needs. Select the "custom electronics" option and write your ideas in the special requests box when you order.</p>
</p>
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="electronics" id="electronics" onchange="updateTotals()" required>
            <option name="Layout1" value="Layout1:0" selected>Standard - Free</option>
            <option name="Layout2" value="Layout2:250">Custom - $250</option>
        </select>
    </div>
</section>



<!-- Strings -->
<section style="box-sizing: border-box; margin-bottom: 2em;">
    <h3 style="margin-bottom: 0.5em">Strings</h3>  
    <p>We'll adapt the neck relief, action and nut to perfectly accommodate the gauge of strings that you usually use.</p>
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="strings" id="strings" onchange="updateTotals()" required>
            <option name="10s" value="10s:0" selected>0.10 gauge (included)</option>
            <option name="1ss" value="11s:0">0.11 gauge (included)</option>
        </select>
    </div> 
</section>

<!-- Case -->
<section style="box-sizing: border-box; margin-bottom: 2em;">
    <h3 style="margin-bottom: 0.5em">Case</h3>   
    <div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">       
        <select name="gigbag" id="gigbag" onchange="updateTotals()" required>
            <option name="gigbag" value="gigbag:0" selected>Gig bag (included)</option>
            <option name="hardcase" value="hardcase:400">Hard case - $400</option>
        </select>
    </div>
</section>