<!-- Extras -->
<h2>Extras</h2>

<!-- Binding -->
<button id="defaultOpen" class="accordion">Binding</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Top binding</td>
				<td width="30%">1100 DKK</td>
			</tr>
			<tr>
				<td>Bottom binding</td>
				<td>1100 DKK</td>
			</tr>
			<tr>
				<td>F-hole binding</td>
				<td>1100 DKK</td>
			</tr>
			<tr>
				<td>Neck binding</td>
				<td>1500 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Hardware -->
<button class="accordion">Hardware</button>
<div class="panel">
  <table class="alt">
		<tbody>
			<tr>
				<td width="70%">Gold hardware and frets</td>
				<td width="30%">300 DKK</td>
			</tr>
			<tr>
				<td>Locking tuners over standard</td>
				<td>150 DKK</td>
			</tr>
			<tr>
				<td>Locking strap pins</td>
				<td>200 DKK</td>
			</tr>
			<tr>
				<td>Tunomatic style bridge and stoptail</td>
				<td>400 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Pickups -->
<button class="accordion">Pickups</button>
<div class="panel">
	<p>Find out more about <a href="">our hand-wound pick-ups</a>.
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Extra humbucker</td>
				<td width="30%">1050 DKK</td>
			</tr>
			<tr>
				<td>Swap for humbucker</td>
				<td>500 DKK</td>
			</tr>
			<tr>
				<td>Extra P90</td>
				<td>600 DKK</td>
			</tr>
			<tr>
				<td>Extra Single Coil</td>
				<td>600 DKK</td>
			</tr>
			<tr>
				<td>Swap for Single Coil</td>
				<td>0 DKK</td>
			</tr>
			<tr>
				<td>Extra Filtertron or other mini HB</td>
				<td>1100 DKK</td>
			</tr>
			<tr>
				<td>Swap for Filtertron or other mini HB</td>
				<td>500 DKK</td>
			</tr>
			<tr>
				<td>Inbuilt passive Piezo circuit and pick-up</td>
				<td>900 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Electronics -->
<button class="accordion">Electronics</button>
<div class="panel">
	<p>Find out more about <a href="">our hand-wound pick-ups</a>.
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">3-way P-UP selector switch</td>
				<td width="30%">100 DKK</td>
			</tr>
			<tr>
				<td>Tone knob</td>
				<td>120 DKK</td>
			</tr>
			<tr>
				<td>Extra volume</td>
				<td>100 DKK</td>
			</tr>
			<tr>
				<td>6-way switch</td>
				<td>420 DKK</td>
			</tr>
			<tr>
				<td>Push pull knob</td>
				<td>200 DKK</td>
			</tr>
			<tr>
				<td>Inbuilt Moar hand-wired Overdrive effect</td>
				<td>2000 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Inlays -->
<button class="accordion">Inlays</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Custom Inlays</td>
				<td width="30%">From 2500 DKK</td>
			</tr>
			<tr>
				<td>Inlay dots</td>
				<td>500 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Trems -->
<button class="accordion">Tremolos</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Bigsby</td>
				<td width="30%">1400 DKK</td>
			</tr>
			<tr>
				<td>Jazzmaster-style Tremolo</td>
				<td>900 DKK</td>
			</tr>
			<tr>
				<td>Strat-style Tremolo</td>
				<td>1100 DKK</td>
			</tr>
			<tr>
				<td>Duesenberg-style Tremolo</td>
				<td>800 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Neck and Fretboard -->
<button class="accordion">Neck</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Carbon rods in neck</td>
				<td width="30%">800 DKK</td>
			</tr>
			<tr>
				<td>23rd and 24th fret</td>
				<td>300 DKK</td>
			</tr>
			<tr>
				<td>Compound Radius Fretboard</td>
				<td>400 DKK</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Fun Stuff -->
<button class="accordion">Fun Stuff</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr>
				<td width="70%">Extra string</td>
				<td width="30%">2600 DKK</td>
			</tr>
			<tr>
				<td>Baritone scale length</td>
				<td>200 DKK</td>
			</tr>
			<tr>
				<td>Nitro paint </td>
				<td>5000 DKK</td>
			</tr>
			<tr>
				<td>Exotic woods (wenge, bubinga, walnut)</td>
				<td>From 1000 DKK</td>
			</tr>
		</tbody>
	</table>
</div>