<!-- Maths -->	
{% if page.title == "Ella" %}
<div style="margin-bottom: 1em">
	<h4 style="margin-bottom: 0.5em;">Ship to</h4>
	<p style="margin-bottom: 2em; font-size: 0.6em">All prices are USD and will be exchanged to local currency when you pay.</p>
	<div class="select-wrapper" style="margin-top: 1em; margin-bottom: 1em;">   
		<select name="shipping" id="shipping" onchange="updateTotals()" required>
	        <option name="EUandUK" value="EUandUK:0">EU and UK</option>
	        <option name="NorthAmerica" value="NorthAmerica:0" selected>North America</option>
	        <option name="SouthAmerica" value="SouthAmerica:0">South America</option>
	        <option name="Asia" value="Asia:0">Asia</option>
	        <option name="Australia" value="Australia:0">Australia</option>
	    </select>
	</div>
</div>
<div style="margin-bottom: 0.5em">
	<table class="alt">
		<tbody>
			<!-- <tr> 
				<th width="50%">Item</th>
				<th width="50%">$USD</th>
			</tr> -->
			<tr>
				<td width="50%">
					<p>Guitar</p>
				</td>
				<td width="50%">
					<span value="${{page.price-usd}}" id="final-total" name="total-price">$8500.00</span>
				</td>
			</tr>
			<!-- <tr>
				<td>
					<p>Shipping</p>
				</td>
				<td>
					<span value="$100" id="shipping-total" name="shipping-price" hidden>$100.00</span>
				</td>
			</tr> -->
			<tr id="vat-display" style="display:;">
				<td>
					<p>VAT</p>
				</td>
				<td>
					<span value="$500" id="vat-total" name="vat-price">$1720.00</span>
				</td>
			</tr>
			<tr>
				<td>
					<p>Total</p>
				</td>
				<td>
					<span type="text" value="$2500" id="price-total" name="total-price" disabled>$10,320.00</span>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-weight: 1500;">Register interest</p>
					<p style="font-size: 0.6em; font-weight: 700;">I need a $1500 deposit to secure your spot on my waiting list.</p>
				</td>
				<td>
					<span style="font-weight: 700;" type="text" value="$1500" id="deposit-total" name="total-deposit" disabled>$1500.00</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>


{% else %}
<table class="alt">
	<tbody>
		<tr> 
			<th width="50%">Item</th>
			<th width="50%">$USD</th>
		</tr>
		<tr>
			<td>
				<p>Base Price</p>
			</td>
			<td>
				<span value="${{page.price-usd}}" id="base-price">${{page.price-usd}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Customisations</p>
			</td>
			<td>
				<span value="$0" id="payment-custom">$0</span>
			</td>
		</tr>
		<tfoot>
			<td>
				<p style="font-weight: 700;">Total</p>
			</td>
			<td>
				<input style="font-weight: 700;" type="text" value="${{page.price-usd}}" id="payment-total" name="total-price" disabled></input>
				<p style="margin-bottom: 2em; font-size: 0.6em">all prices are in USD.</p>
			</td>
		</tfoot>
	</tbody>
</table>
{% endif %}

<!-- Email -->
<h4 style="margin-bottom: 0.5em;">Your details</h4>
<div style="margin-bottom: 0.5em">
	<input placeholder="email@moarguitars.com" type="email" id="email" name="email" required>
</div>

<!-- Submit -->
<ul class="actions" style="margin-bottom: 0;">
	{% if page.title == "Ella" %}
	<li style="width:100%; padding:0;"><input id="submit" type="submit" value="Place deposit" class="button special fit"/></li>
	{% else %}
	<li style="width:100%; padding:0;"><input id="submit" type="submit" value="Save and Send Quote" class="button special fit"/></li>
	{% endif %}
	<input type="hidden" name="_next" id="next" value="" />
</ul>
</p>

