<script>
	<body onload="script('../waitlist.rb');">
</script>

<table class="alt fit">
	<tbody>
		<tr>
			<td width="20%">Updated</td>
			<td width="30%">Name</td>
			<td width="50%">Notes</td>
		</tr>
		{% for record in site.data.customers.parsed_response.records %}
		<tr>
			<td>{{ record.createdTime | date: "%b %d %Y" }}</td>
			<td>{{ record.fields.Name }}</td>
			<td>{{ record.fields.Notes }}</td>
		</tr>
		{% endfor %}
		<!-- {% if  item.attachment %}
		<img src="{{item.attachment[0].url}}" alt={{item.title}} />
		{% endif %} -->
		
	</tbody>
</table>