<ul class="alt">
	{% for record in site.data.customers.parsed_response.records %}
	<li><h4 style="margin-bottom:0;">{{ record.fields.Name }}: {{ record.fields.Notes }}</h4></li>
	{% endfor %}
</ul>
<!-- <table class="fit">
	<tbody>
		<tr>
			<td width="20%">Name</td>
			<td width="80%">Notes</td>
		</tr>
		{% for record in site.data.customers.parsed_response.records %}
		<tr>
			<td>{{ record.fields.Name }}</td>
			<td>{{ record.fields.Notes }}</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table> -->


