<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
<!-- Main -->
<div id="main" class="alt">
	<section>
			<div class="inner row uniform">
				<div class="12u 12u(small)" style="margin-bottom: 2em;">
					<div class="100%">
						<a href="{{ site.baseurl | absolute_url }}">Guitars</a><p style="display: inline-block;">&nbsp;&nbsp;/&nbsp;&nbsp;{{ page.title }}</p>
					</div>
					<h1>{{ page.title }}</h1>
					<h3>{{ page.description }}</h3>
					<p>{{ page.modeldesc }}</p>
				</div>
				<div class="4u 12u$(medium)">
					<div class="gallery" style="background-image:url('/assets/images/{{ page.title | downcase }}/1.jpg')">
					</div>
				</div>
				<div class="4u 12u$(medium)">
					<div class="gallery" style="background-image:url('/assets/images/{{ page.title | downcase }}/2.jpg')">
					</div>
				</div>
				<div class="4u 12u$(medium)">
					<div class="gallery" style="background-image:url('/assets/images/{{ page.title | downcase }}/3.jpg')">
					</div>
				</div>
				{{ content }}
			</div>
			<!-- Dolly form -->
			{% if page.title == "Ella" %}
			<form class="inner row uniform" id="extra-features" action="https://formspree.io/f/xgebpvey" method="POST">
			{% else %}
			<form class="inner row uniform" id="extra-features" action="https://formspree.io/xnqoqbjw" method="POST">
			{% endif %}			
				<div class="box 4u 12u(small) sticky-quote" style="padding: 2em">
					<!-- Quote Box -->
					{% include stickyquote.html %}
				</div>
			</form>
	</section>
</div>

    {% include footer.html %}

</body>
</html>

<script>
	function updateTotals() {
	    // Checkboxes
	    var inputs = document.getElementById('extra-features').getElementsByTagName('input');

	    // Selected Options
	    var body = document.getElementById("wood-body");
		var bodycost = parseInt(body.options[body.selectedIndex].getAttribute('value').split(":").pop());
		var neck = document.getElementById("wood-neck");
		var neckcost = parseInt(neck.options[neck.selectedIndex].getAttribute('value').split(":").pop());	
		var fret = document.getElementById("wood-fret");
		var fretcost = parseInt(fret.options[fret.selectedIndex].getAttribute('value').split(":").pop());
		var radius = document.getElementById("neck-radius");
		var radiuscost = parseInt(radius.options[radius.selectedIndex].getAttribute('value').split(":").pop());
		var result = bodycost + neckcost + fretcost + radiuscost;

	    // Total Price
	    var sum = {{ page.price-usd }} + result;
	    for (var i = 0, num = inputs.length; i < num; i++) {
	        if (inputs[i].checked) {
	            sum += parseInt(inputs[i].getAttribute('value').split(":").pop());
	        }
	    }

	    // Customisation Total
	    var customisations = sum - {{ page.price-usd }};

		// Totals for text
	    document.getElementById('payment-custom').innerHTML = '$' + customisations;
	    document.getElementById('payment-total').value = '$' + sum;
		document.getElementById('next').value = '../order-placed?type=guitar&deposit=' + (sum*0.25);
	    
	    
	}

	var section = document.getElementById('extra-features');
	var inputs = section.getElementsByTagName('input');
	for (var i = 0, num = inputs.length; i < num; i++) {
	    inputs[i].addEventListener('change', updateTotals);
	}
</script>

