<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<section style="border:0;">
	<div class="inner">
		<div class="row 100% uniform">
		    <div class="12u 12u$(medium)">
		      	<header class="major">
					<h1>{{ page.title }}</h1>
				</header>
				<p>{{ page.description }}</p>
		      	<div class="table-wrapper fit">
					{% include waitlist.html %}
				</div>
		    </div>
	  	</div>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>